# Directories
modelsim/.ref/
modelsim/work/

# Temp files
*~
*#
*.swp

# General files
*.txt
*.log
*.bak
*transcript

# Modelsim
*.mti
*.dbg
*.wlf
*.mpf

# Quartus
*.ipinfo
*.qsf
*.qws
*.rpt
*.done
*.jdi
*.sld
*.summary
*.sof

