# Directories
modelsim/.ref/
modelsim/work/
modelsim/libraries/
modelsim/mep/
quartus/db/

# Temp files
*~
*#
*.swp

# General files
*.txt
*.dat
*.bak
*transcript

# Modelsim
*.mti
*.dbg
*.wlf

# Quartus
*.ipinfo
*.qsf
*.qws
*.rpt
*.done
*.jdi
*.sld
*.summary
*.sof
*.rdr.flock
*.qmsg

#Latex
*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.latex
*.latex.json
